@media ( max-width: 600px;)
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
.body{
   background-image:  url(20241028_151140.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
    position: relative;
}
   .nav-container {
      background-color: transparent;      
      width: 100%;
      padding: 1px;
      box-shadow: 0 1px 8px black ;
    }

    .nav-content {
      margin: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .logo {
      padding-bottom:80px;
      width:200px;
      height:2px;
      border-radius:50px;
    }
    .logo h4 {
    color:silver;
    width:190px;
    height:auto;
    font-weight:20px;
    border-radius:13px;
    border-color:white;
    background-color: transparent;
    stroke-width:1px;  
    stroke-color:white;
   font-family: 'Georgia', serif;
   box-shadow: 0 1px 10px black inset;
    }

    .nav-links {
      display: flex;
      gap: 2rem;
      list-style: none;
    }

    .nav-links a {
      color: white;
      text-decoration: none;
      font-size: 1rem;
      transition: opacity 1s;
    }

    .nav-links a:hover {
      opacity: 0.8;
      border-rasiud:30px;
    }

    .hamburger {
      display: none;
      flex-direction: column;
      gap: 5px;
      cursor: pointer;
      padding: 10px;
      border-radius:10px;
      border-color: white;
      stroke-width:1px;
      box-shadow: 0 1px 8px black inset;
    }

    .hamburger span {
      width: 25px;
      height: 3px;
      background-color: white;
      display: block;
      border-radius: 20px;
      box-shadow: 0 1px 8px gold;
    }
      .nav-links {
        display: none;
        width: 93%;
        position: absolute;
        top: 70px;
        left: 0;
        background: #4a148c;
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
      }

      .nav-links.active {
        display: flex;
      }

.h2{
    color: rgb(235, 230, 230);
    text-align: center;
    font-family: 'Georgia', serif;
}
li{
    color: rgb(214, 212, 215);
}
.h1{
    color:  rgb(221, 209, 194);;
    text-align: center;  
    font-family: 'Georgia', serif;
}
.header{
    width: auto;
    height:auto;
    background-color: rgb(89, 143, 189);
}
a{
    color: rgb(90, 213, 108);
}
.p{
	color: rgb(235, 230, 230);   
    font-family: 'Georgia', serif;
}
h6{
    width:auto;
    margin: 10px;
    line-height: 1.6;
    padding: 10px;
    position: relative;
    font-family: 'Georgia', serif;
    padding-left:20px;
    text-indent:-20px;
    }
h4{
  color: #f7f4f4;
  text-align: center;  
  font-family: 'Georgia', serif;
}
list{
   font-family: 'Georgia', serif;
}
hr{
	width:auto;
    border: none;
    height: 3px;
    background-color: #a9a3a3;
    margin: 20px;
    box-shadow: 0 1px 8px black;
    border-radius:20px;
}
.vertical-line{
    border-left: 3px solid #a9a3a3;
    height: 100px;
    position: absolute;
    left: 50%;
}

button{
    background-color: transparent;
    border-radius: 50px;
    border-color: rgb(239, 232, 232);
    color: aliceblue;
    font-size: 15px;
    margin-left: 150px;
    padding: 10px;
    stroke-width: 1px;
    padding-top:20px;
}
button:hover{
    background-color: #f7efef;
    color: black;
    box-shadow: 0 4px 8px black;
    }
container{
    background-color: white;
    align-items: center;
    margin-top:10px;
}
.icons{
    color: #a9a3a3;
    position: relative;
    padding-top: 20px;
    padding-left: 150px;
}
.fa-tiktok{
    color: aliceblue;
    font-size: 20px;
    padding:10px ;
    box-shadow: 0 1px 10px black inset;
    boder-radius:20px;
}
.fa-tiktok:hover{
    background-color: #f7efef;
    color: black;
}
.fa-instagram{
    color: aliceblue;
    font-size: 20px;
    padding: 10px;
    box-shadow: 0 1px 10px black inset;
}
.fa-instagram:hover{
    background-color: #f7efef;
    color: black;
}
.fa-whatsapp{
    color: white;
    font-size: 20px;
    padding:10px;
    box-shadow: 0 1px 10px black inset;
}
.fa-whatsapp:hover{
    background-color: #f7f4f4;
    color: black;
}
.wlcm{
	padding-top:60px;
	}